/alm
/alm-cli
/alm.exe
/alm-cli.exe
/tmp
/.vscode
/.project
/debug
**/debug.test
/.settings


# Ignore some glide stuff
.glide
vendor

# Ignore generated stuff
app/
assets/js/
bindata_assetfs.go
client/
swagger/
tool/cli/
