{"swagger":"2.0","info":{"title":"ALMighty: One to rule them all","description":"The next big thing","license":{"name":"Apache License Version 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0"},"host":"almighty.io","basePath":"/api","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/login/authorize":{"get":{"summary":"authorize","description":"Authorize with the ALM","operationId":"login#authorize","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthToken"}},"401":{"description":"Unauthorized"}},"schemes":["http"]}},"/version":{"get":{"summary":"show","description":"Show current running version\n\n** Required security scopes**:\n  * `system`","operationId":"version#show","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Version"}}},"schemes":["http"]}}},"definitions":{"AuthToken":{"title":"Mediatype identifier: application/vnd.authtoken+json","type":"object","properties":{"token":{"type":"string","description":"JWT Token","example":"Dolores vero rerum."}},"description":"JWT Token","example":{"token":"Iste odit culpa illo reiciendis quo."},"required":["token"]},"Version":{"title":"Mediatype identifier: application/vnd.version+json","type":"object","properties":{"build_time":{"type":"string","description":"The date when build","example":"Quaerat dolorem voluptate non omnis."},"commit":{"type":"string","description":"Commit SHA this build is based on","example":"Beatae accusantium quis magni."}},"description":"The current running version","example":{"build_time":"Soluta ducimus explicabo et dolores.","commit":"Est quaerat eaque quaerat."},"required":["commit","build_time"]}},"responses":{"OK":{"description":"OK","schema":{"$ref":"#/definitions/Version"}},"Unauthorized":{"description":"Unauthorized"}},"securityDefinitions":{"jwt":{"type":"apiKey","description":"JWT Token Auth\n\n**Token URL**: http://almighty.io/api/login/authorize","name":"Authorization","in":"header"}}}