{"swagger":"2.0","info":{"title":"ALMighty: One to rule them all","description":"The next big thing","license":{"name":"Apache License Version 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0"},"host":"almighty.io","basePath":"/api","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/login/authorize":{"get":{"summary":"authorize","description":"Authorize with the ALM","operationId":"login#authorize","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthToken"}},"401":{"description":"Unauthorized"}},"schemes":["http"]}},"/login/generate":{"get":{"summary":"generate","description":"Generates a set of Tokens for different Auth levels. NOT FOR PRODUCTION. Only available if server is running in dev mode","operationId":"login#generate","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthTokenCollection"}},"401":{"description":"Unauthorized"}},"schemes":["http"]}},"/version":{"get":{"summary":"show","description":"Show current running version\n\n** Required security scopes**:\n  * `system`","operationId":"version#show","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Version"}}},"schemes":["http"]}},"/workitem/{id}":{"get":{"summary":"show","description":"Retrieve work item with given id.","operationId":"workitem#show","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WorkItem"}},"404":{"description":"Not Found"}},"schemes":["http"]}},"/workitemtype/{id}":{"get":{"summary":"show","description":"Retrieve work item type with given id.","operationId":"workitemtype#show","parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WorkItemType"}},"404":{"description":"Not Found"}},"schemes":["http"]}}},"definitions":{"AuthToken":{"title":"Mediatype identifier: application/vnd.authtoken+json","type":"object","properties":{"token":{"type":"string","description":"JWT Token","example":"Dolores vero rerum."}},"description":"JWT Token","example":{"token":"Iste odit culpa illo reiciendis quo."},"required":["token"]},"AuthTokenCollection":{"title":"Mediatype identifier: application/vnd.authtoken+json; type=collection","type":"array","items":{"$ref":"#/definitions/AuthToken"},"example":[{"token":"Accusantium quis magni."},{"token":"Soluta ducimus explicabo et dolores."},{"token":"Est quaerat eaque quaerat."}]},"Version":{"title":"Mediatype identifier: application/vnd.version+json","type":"object","properties":{"build_time":{"type":"string","description":"The date when build","example":"Similique maiores."},"commit":{"type":"string","description":"Commit SHA this build is based on","example":"Dolor rerum enim."}},"description":"The current running version","example":{"build_time":"Id id optio.","commit":"Non quam ipsam maiores incidunt."},"required":["commit","build_time"]},"WorkItem":{"title":"Mediatype identifier: application/vnd.workitem+json","type":"object","properties":{"fields":{"type":"object","example":{"Dicta consequatur.":false,"Facilis dicta numquam aut minima.":false,"Labore maiores similique facere.":"1972-07-14T02:20:02+02:00"},"additionalProperties":true},"id":{"type":"string","description":"unique id per installation","example":"Nemo eos ducimus maiores impedit sunt."},"name":{"type":"string","description":"User Readable Name of this item","example":"Ipsum dolor."},"type":{"type":"string","description":"Id of the type of this work item","example":"Reprehenderit distinctio voluptas quia dolor et et."},"version":{"type":"integer","description":"Version for optimistic concurrency control","example":546764604172261686,"format":"int64"}},"description":"ALM Work Item","example":{"fields":{"Consequatur quae ut.":false,"Quaerat odit ut qui.":false,"Quos veritatis dolores totam temporibus hic deserunt.":0.7804675044448706},"id":"Perspiciatis laudantium consequatur aut.","name":"Quia iure distinctio nihil est.","type":"Voluptatem expedita.","version":6352936248897269904},"required":["id","version","name","type","fields"]},"WorkItemType":{"title":"Mediatype identifier: application/vnd.workitemtype+json","type":"object","properties":{"fields":{"type":"array","items":{"$ref":"#/definitions/field"},"example":[{"name":"Consectetur ipsam.","type":"Voluptatem qui corporis dicta quos."}]},"id":{"type":"string","description":"unique id per installation","example":"Est sed nihil atque."},"name":{"type":"string","description":"User Readable Name of this item","example":"Quaerat rem voluptatem."},"version":{"type":"integer","description":"Version for optimistic concurrency control","example":3885890692201205137,"format":"int64"}},"description":"ALM Work Item Type","example":{"fields":[{"name":"Deserunt id doloremque sed quam vel.","type":"Dignissimos quibusdam ipsam id facere doloribus consequatur."},{"name":"Iste officiis expedita.","type":"Dignissimos excepturi explicabo."},{"name":"Iusto odio eum rem qui officia aperiam.","type":"Itaque at eveniet iste dolorem tempore."}],"id":"Porro et facere.","name":"Doloribus rerum.","version":4937175273356889143},"required":["id","version","name","fields"]},"field":{"title":"field","type":"object","properties":{"name":{"type":"string","example":"Nihil ea reprehenderit voluptas rerum ut in."},"type":{"type":"string","example":"Maxime cum illum provident rerum quo."}},"required":["name","type"]}},"responses":{"NotFound":{"description":"Not Found"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/Version"}},"Unauthorized":{"description":"Unauthorized"}},"securityDefinitions":{"jwt":{"type":"apiKey","description":"JWT Token Auth\n\n**Token URL**: http://almighty.io/api/login/authorize","name":"Authorization","in":"header"}}}