{"swagger":"2.0","info":{"title":"ALMighty: One to rule them all","description":"The next big thing","license":{"name":"Apache License Version 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0"},"host":"almighty.io","basePath":"/api","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/login/authorize":{"get":{"summary":"authorize","description":"Authorize with the ALM","operationId":"login#authorize","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthToken"}},"401":{"description":"Unauthorized"}},"schemes":["http"]}},"/login/generate":{"get":{"summary":"generate","description":"Generates a set of Tokens for different Auth levels. NOT FOR PRODUCTION. Only available if server is running in dev mode","operationId":"login#generate","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthTokenCollection"}},"401":{"description":"Unauthorized"}},"schemes":["http"]}},"/version":{"get":{"summary":"show","description":"Show current running version\n\n** Required security scopes**:\n  * `system`","operationId":"version#show","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Version"}}},"schemes":["http"]}}},"definitions":{"AuthToken":{"title":"Mediatype identifier: application/vnd.authtoken+json","type":"object","properties":{"token":{"type":"string","description":"JWT Token","example":"Dolores vero rerum."}},"description":"JWT Token","example":{"token":"Iste odit culpa illo reiciendis quo."},"required":["token"]},"AuthTokenCollection":{"title":"Mediatype identifier: application/vnd.authtoken+json; type=collection","type":"array","items":{"$ref":"#/definitions/AuthToken"},"example":[{"token":"Accusantium quis magni."},{"token":"Soluta ducimus explicabo et dolores."},{"token":"Est quaerat eaque quaerat."}]},"Version":{"title":"Mediatype identifier: application/vnd.version+json","type":"object","properties":{"build_time":{"type":"string","description":"The date when build","example":"Similique maiores."},"commit":{"type":"string","description":"Commit SHA this build is based on","example":"Dolor rerum enim."}},"description":"The current running version","example":{"build_time":"Id id optio.","commit":"Non quam ipsam maiores incidunt."},"required":["commit","build_time"]}},"responses":{"OK":{"description":"OK","schema":{"$ref":"#/definitions/Version"}},"Unauthorized":{"description":"Unauthorized"}},"securityDefinitions":{"jwt":{"type":"apiKey","description":"JWT Token Auth\n\n**Token URL**: http://almighty.io/api/login/authorize","name":"Authorization","in":"header"}}}